<include file="Public/head.html" />
<include file="Public/header.html" />

<div class="wrap">
    <div class="allclasstitle">
        <a>馨隆教育</a>
        <i>>></i>
        <span class="c3">教育资讯</span>
    </div>

    <div class="edu-news">
        <ul>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img0"></span>
                        <span>学习辅导</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img1"></span>
                        <span>文体艺术</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img2"></span>
                        <span>语言培训</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img3"></span>
                        <span>电脑与IT</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img4"></span>
                        <span>职业技能</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img5"></span>
                        <span>资格考试</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="" target="_self">
                        <span class="edu-news_img edu-news_img6"></span>
                        <span>企业管理</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img7"></span>
                        <span>学历文凭</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img8"></span>
                        <span>出国留学</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img9"></span>
                        <span>远程教育</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img10"></span>
                        <span>远程教育</span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" target="_self">
                        <span class="edu-news_img edu-news_img11"></span>
                        <span>远程教育</span>
                    </a>
                </h2>
            </li>
        </ul>
    </div>

</div>


<!-- <include file="Public/footer.html" /> -->
