<html>
<head>
    <title>后台管理平台</title>
    <link href="__ADMINCSS__/admin-style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="__ADMINCSS__/admin-menu.css"/>
</head>
<body>
<div class="admin-warp">
    <div class="admin-top">
        <a class="admin-navbar" href="#"><span>XinLongEDU</span>Admin</a>
        <ul class="user-menu">
            <li class="user-menu-right">
                <a class="user-menu-font" href="#"><span><img src="__ADMINIMG__/admin-login.png" ></span> 登录</a>
            </li>
        </ul>
    </div>
    <div class="admin-main">
        <div class="admin-main-left">
            <ul class="ce">
                <li> <a class="xz"  href="#">目录A</a> </li>
                <li>
                    <a href="#">目录B <img class="more" src="__ADMINIMG__/more.png"/></a>
                    <ul class="er">
                        <li>     <a  href="##">二级目录A</a>    </li>
                        <li class="e_li">
                            <a  href="##">二级目录B</a>
                            <ul class="thr">
                                <li> <a  href="##">三级目录A</a> </li>
                                <li>
                                    <a  href="##">三级目录B <img class="more1" src="__ADMINIMG__/more1.png"/></a>
                                    <div class="thr_nr">
                                        <h3> 三级目录B主要内容 </h3>
                                        <img src="__ADMINIMG__/aa.png"/>
                                    </div>
                                </li>
                                <li> <a  href="##">三级目录C</a> </li>
                                <li>
                                    <a  href="##">三级目录D <img class="more1" src="__ADMINIMG__/more1.png"/></a>
                                    <div class="thr_nr">
                                        <h3> 三级目录D主要内容 </h3>
                                        <img src="__ADMINIMG__/bb.png"/>
                                    </div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                        <li>     <a  href="##">二级目录C</a>   </li>
                        <li class="e_li">
                            <a  href="##">二级目录D</a>
                            <ul class="thr">
                                <li> <a  href="##">三级目录A</a> </li>
                                <li> <a  href="##">三级目录B</a> </li>
                                <li> <a  href="##">三级目录C</a> </li>
                                <li> <a  href="##">三级目录D</a> </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li> <a href="#">目录C</a> </li>
                <li> <a href="#">目录D</a> </li>
                <li> <a href="#">目录E</a> </li>
                <li>
                    <a href="#">目录F <img class="more" src="__ADMINIMG__/more.png"/></a>
                    <ul class="er">
                        <li> <a  href="##">二级目录A</a> </li>
                        <li> <a  href="##">二级目录B</a> </li>
                        <li> <a  href="##">二级目录C</a> </li>
                        <li> <a  href="##">二级目录D</a> </li>
                    </ul>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="admin-main-right"></div>
    </div>
</div>

<script type="text/javascript" src="__ADMINJS__/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="__ADMINJS__/main.js"></script>

</body>
</html>