<html>
<head>
    <title>aaa</title>
    <link href="__ADMINCSS__/admin-style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
    <div class="admin-warp">
        <div class="admin-top">
            <a class="admin-navbar" href="#"><span>XinLongEDU</span>Admin</a>
            <ul class="user-menu">
                <li class="user-menu-right">
                    <a class="user-menu-font" href="#"><span><img src="__ADMINIMG__/admin-login.png"></span> 登录</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>