 /*后台管理头部*/
 body{
     margin: 0 0;
     padding: 0 0;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 }
 .admin-warp{
     width: 100%;
     height: auto;
 }
 .admin-top{
     padding-left: 20px;
     padding-right: 20px;
     height: 50px;
     background-color: #222;
 }
 .admin-navbar{
     text-decoration: none;
     color: #fff;
     font-size: 16px;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 2px;
     float: left;
     padding: 15px 15px;
     line-height: 20px;
 }
 .admin-navbar span{
     color: #B81D22;
 }
 .user-menu{
     display: inline-block;
     margin-top: 14px;
     margin-right: 10px;
     float: right;
     list-style: none;
     padding: 0;
 }
 .user-menu-right {
     float: right!important;
     position: relative;
 }
 .user-menu-font {
     text-decoration: none;
     font-size: 16px;
     color: #fff;
     font-family: 'Microsoft YaHei';
 }
 .user-menu-font img{
     width: 16px;
     height: 16px;
     vertical-align:text-bottom;
 }
/*后台管理*/
.admin-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 .admin-main-left{
    width: 250px;
    height: 100%;
    float: left;
    top:0;
    bottom: 0;
 }
.admin-main-right{
    height: 100%;
    padding-left: 250px;
}
.admin-main-right-top{
    height: 30px;
    background-color: #e9ecf2;
}
 .admin-main-right-top ol {
     border-radius: 0;
     padding: 10px 15px;
     background: #e9ecf2;
     box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
     margin: 0;
     list-style: none;
 }
 .admin-main-right-top ol li{
     font-size: 14px;
     color: #777;
 }


/*后台管理-用户管理-用户列表*/
 .admin-pan{
     margin: 20px 10px 10px 10px;
 }
 table.tl {
     width: 100%;
     font-family: verdana,arial,sans-serif;
     font-size:11px;
     color:#333333;
     border-width: 1px;
     border-collapse: collapse;
 }
 table.tl th {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #ccc;
     background-color: #e3e3e3;
 }
 table.tl td {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #ccc;
 }
 .oddrowcolor{
     /* background-color:#d4e3e5; */
 }
 .evenrowcolor{
     /* background-color:#c3dde0; */
 }

 /*后台管理-分页*/
.page{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #CCC;
    background-color: #e3e3e3;
}
.page-left{
    width: 130px;
    height: 30px;
    margin-left: 5px;
}
.page-left span{
    font-family:'Microsoft YaHei';
    font-size: 14px;
    color: black;
    line-height: 30px;
}

 /*后台管理-用户管理-用户编辑*/
 .tld{
    width: 100px;
    text-align: right;
 }
 .btn{
     margin-top: 10px;
     text-align: center;
 }
 .btn-ok{
     display: inline-block;
     border-radius: 5px;
     width: 80px;
     height: 30px;
     line-height: 30px;
     background-color: #e74649;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     text-align: center;
 }
 .btn-no{
     display: inline-block;
     border-radius: 5px;
     width: 80px;
     height: 30px;
     line-height: 30px;
     background-color: #3C3C3C;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     text-align: center;
     margin-left: 25px;
 }

