<include file="Public/head.html" />
<include file="Public/header-login.html" />


<div class="login-warp">
    <div class="w">
        <div class="login-form">
            <div class="login-tab login-tab-r">
                <a href="javascript:void(0)" class="checked" style="outline: rgb(109, 109, 109) none 0px;">账户登录</a>
            </div>
            <div class="login-box" style="display: block; visibility: visible;">
                <div class="mt tab-h">
                </div>
                <div class="mc">
                    <div class="form">
                        <form id="formlogin" method="post" action="checkLogin">
                            <div class="itemlg itemlg-fore1">
                                <label for="loginname" class="login-label name-label"></label>
                                <input id="loginname" type="text" class="itxt" name="loginname" tabindex="1" autocomplete="off" placeholder="邮箱/用户名/已验证手机">
                                <span class="clear-btn"></span>
                            </div>
                            <div id="entry" class="itemlg itemlg-fore2" style="visibility: visible;">
                                <label class="login-label pwd-label" for="nloginpwd"></label>
                                <input type="password" id="nloginpwd" name="nloginpwd" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
                                <span class="clear-btn"></span>
                                <span class="capslock" style="display: none;"><b></b>大小写锁定已打开</span>
                            </div>
                            <div class="itemlg itemlg-fore4">
                                <div class="safe">
                                    <span>
                                        <input id="autoLogin" name="chkRememberMe" type="checkbox" class="jdcheckbox" tabindex="3">
                                        <label for="autoLogin">自动登录</label>
                                    </span>
                                    <span class="forget-pw-safe">
                                        <a href="/uc/links?tag=safe" class="" style="outline: rgb(109, 109, 109) none 0px;"><label>忘记密码</label></a>
                                    </span>
                                </div>
                            </div>
                            <div class="itemlg itemlg-fore5">
                                <div class="login-btn">
                                    <input type="submit" class="btn-img btn-entry" value="登&nbsp;&nbsp;&nbsp;&nbsp;录">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="coagent" id="kbCoagent">
                <ul>
                    <li>
                        <b></b>
                        <a href="javascript:void(0)" class="pdl"><b class="QQ-icon"></b><span>QQ</span></a>
                        <span class="line">|</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="pdl"><b class="weixin-icon"></b><span>微信</span></a>
                    </li>
                    <li class="extra-r">
                        <div>
                            <div class="regist-link"><a href="register.html" target="_blank"><b></b>立即注册</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="login-banner" style="background-color: #E8C99A">
            <div class="w">
                <img src="__IMG__/login_banner.jpg" />
            </div>
        </div>
    </div>
</div>

<include file="Public/footer.html" />