<include file="Public/head.html" />
<include file="Public/header.html" />

<div class="wrap">
    <div class="allclasstitle">
        <a>馨隆教育</a>
        <i>>></i>
        <span class="c3">课程分类</span>
    </div>
    <div class="allclasslist">
        <div class="row">
            <span>婴儿期：&nbsp;&nbsp;&nbsp;</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>
                <li>
                    <a href="#">成长</a>
                </li>
                <li>
                    <a href="#">语言</a>
                </li>
                <li>
                    <a href="#">表情</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">图像</a>
                </li>
                <li>
                    <a href="#">动作</a>
                </li>
                <li>
                    <a href="#">食物</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <span>幼儿期：&nbsp;&nbsp;&nbsp;</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>

                <li>
                    <a href="#">语言</a>
                </li>
                <li>
                    <a href="#">动作</a>
                </li>
                <li>
                    <a href="#">礼仪</a>
                </li>
                <li>
                    <a href="#">表情</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">图像</a>
                </li>
                <li>
                    <a href="#">食物</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <span>学龄前期：</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>
                <li>
                    <a href="#">语言</a>
                </li>
                <li>
                    <a href="#">手工</a>
                </li>
                <li>
                    <a href="#">动作</a>
                </li>
                <li>
                    <a href="#">礼仪</a>
                </li>
                <li>
                    <a href="#">表情</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">图像</a>
                </li>
                <li>
                    <a href="#">食物</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <span>小学：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>

                <li>
                    <a href="#">课程</a>
                </li>
                <li>
                    <a href="#">手工</a>
                </li>
                <li>
                    <a href="#">运动</a>
                </li>
                <li>
                    <a href="#">礼仪</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">影像</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <span>初中：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>

                <li>
                    <a href="#">课程</a>
                </li>
                <li>
                    <a href="#">手工</a>
                </li>
                <li>
                    <a href="#">运动</a>
                </li>
                <li>
                    <a href="#">礼仪</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">影像</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <span>高中：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <ul>
                <li class="selected">
                    <a href="#" rel="nofollow">不限</a>
                </li>

                <li>
                    <a href="#">课程</a>
                </li>
                <li>
                    <a href="#">手工</a>
                </li>
                <li>
                    <a href="#">运动</a>
                </li>
                <li>
                    <a href="#">礼仪</a>
                </li>
                <li>
                    <a href="#">声音</a>
                </li>
                <li>
                    <a href="#">影像</a>
                </li>
            </ul>
        </div>
        <div class="row ls">
            <ul>
                <li>
                    <span><a>排序</a></span>
                </li>
                <li>
                    <span><a>综合</a></span>
                </li>
                <li>
                    <span><a>最新</a></span>
                </li>
                <li>
                    <span><a>人气</a></span>
                </li>
                <li>
                    <span><a>价格</a></span>
                </li>
            </ul>
            <div class="allclassoage">
                <a href="javascript:;" target="_self" rel="nofollow"><em>1</em></a>
                /
                <a href="javascript:;" target="_self" rel="nofollow">1017</a>
            </div>
        </div>
    </div>

    <div class="allclass_pros">
        <foreach name="productList" item="pros">
            <div class="pro-item">
                <div class="pro-item-logo">
                    <a href="{:U('Products/ProductItem',array('id'=>$pros['id']),'')}" target="_blank"><img src="__IMG__/{$pros.pic}"></a>
                </div>
                <div class="pro-item-info">
                    <div class="pro-item-title">
                        <a href="#" target="_blank">{$pros.name}</a>
                    </div>
                    <div class="pro-item-basic">
                        <a href="#" target="_blank">{$pros.title}</a>
                    </div>
                </div>
                <a href="http://tj.jiaoyubao.cn/edu/yf/" class="pro-item-go" target="_blank" rel="nofollow">直达机构主页</a>
            </div>
        </foreach>
    </div>

</div>

<include file="Public/footer.html" />

